
#content2{
   /* margin: 0px 200px; */

    padding: 150px 0px 30px 0px;
    background-color:rgb(255, 255, 255);
    height: 100%;
}
.list span{
    color: black;
    padding: 30px;
}
.list{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-items: center;
    padding:0px 100px;
}
.list a{
    color: #000;
    background-color: antiquewhite;
}
.main2 {
    padding-top: 0px;
    background-color: rgb(255, 255, 255);
    height: 150vh;
    margin-bottom: 18px;
    
  }

#list1 h3{
    font-size: 40px;
}
.list2 img{
    margin: 10px;
    border: solid 2px rgb(0, 0, 0);
    width: 310px;
    height: 280px;}

#img1{
    width: 220px;
height: 310px;
margin-right: 10px;

}
.list2{
    display: flex;
    justify-content: center;
}
#award{
    color: #000;
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-size: 30px;
    background-color: rgb(255, 221, 211);
    margin: 10px;
    border-radius: 5px;
}